.console {
    word-wrap: break-word;
    resize: both;
    position: fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 20rem;
    top: 1rem;
    left: calc(3rem + 4em);
    color: var(--base-500);
    background-color: var(--base-800);
    box-shadow: 0 .5rem 2rem var(--shadow-500);
    outline: 1px solid var(--base-800);
    transition: width .5s, height .5s, left .5s, top .5s, opacity .5s;
}

.console--maximized {
    top: 1rem !important;
    left: calc(3rem + 4em) !important;
    height: calc(100vh - 2rem) !important;
    width: calc(100vw - 5rem - 4em) !important;
}

.console--minimized {
    pointer-events: none;
    top: 1rem !important;
    left: 1rem !important;
    opacity: 0;
}

.console--dragging:hover {
    transition: none;
    cursor: grab;
}
  
.titlebar {
    display: flex;
    align-items: center;
    overflow: hidden;
    color: var(--base-800);
    width: 100%;
    min-height: 2rem;
    background-color: var(--base-400);
}
  
.titlebar__button {
    padding: .5rem 1rem;
    z-index: 2;
    transition: background-color .25s, color .25s;
}

.titlebar__button:hover {
    background-color: var(--base-300);
}

.titlebar__button--close:hover {
    color: var(--base-300);
    background-color: #e81123;
}

.console__button {
    z-index: 5;
    color: var(--accent-500);
    margin-bottom: auto;
    transition: color .25s, transform .25s;
}

.console__button:hover {
    transform: scale(1.1, 1.1);
    color: var(--accent-500);
}

.console__button--minimized {
    color: var(--text-500);
}
  
.console a:hover {
    cursor: pointer;
    background-color: var(--base-400);
    color: var(--base-800);
}

.console__content {
    white-space: pre;
    overflow-y: scroll;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: 'Consola';
    font-weight: 300;
}

.console__content p {
    word-wrap: break-word;
}

::selection {
    background-color: var(--base-400);
    color: var(--base-800);
}

.console__input {
    background-color: transparent;
    font-family: 'Consola';
    font-weight: 300;
    font-size: medium;
    color: var(--base-400);
    outline: none;
    border: none;
    caret-color: transparent;
    width: 1rem;
    padding: 0;
    outline: 1px solid var(--base-300);
}
