
.footer {
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    gap: 1rem;
    background-color: var(--base-400);
    border-top: 1px solid var(--base-500);
}

.footer__socials {
    display: flex;
    gap: 1rem;
}
