.navbar {
    z-index: 4;
    position: fixed;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.navbar::after {
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    height: calc(100vh - 2rem);
    background-color: var(--shadow-500);
}

.navbar__brand {
    width: 3rem;
    height: 3rem;
}

@media only screen and (max-device-width: 500px) {

    .navbar {
        display: none;
    }

}