.projects {
    scroll-snap-align: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--base-400);
}

.projects-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 1rem calc((100vw - 480px - 1rem) / 2);
    gap: 8rem;
    transition: padding 1s, translate .5s ease;
}

.projects-container::-webkit-scrollbar {
    display: none;
}

.projects__navigation {
    z-index: 3;
    position: absolute;
    bottom: 4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.project-button {
    background-color: var(--shadow-500);
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    transition: width .25s, height .25s, background-color .25s;
}

.project-button:hover {
    background-color: var(--accent-500);
}

.project-button--active {
    background-color: var(--accent-500);
    border-radius: .25rem;
    width: 3rem;
    height: 1rem;
}

.project-arrow {
    z-index: 3;
    position: absolute;
    color: var(--base-500);
    padding: 1rem;
    transition: color .25s, transform .25s, left .5s, right .5s;
}

.project-arrow--modal {
    z-index: 5;
}

.project-arrow:hover {
    color: var(--accent-500);
    transform: scale(1.25, 1.25);
}

.flair {
    position: absolute;
    width: 40rem;
    height: 40rem;
    border-radius: 100%;
    outline: 1px solid var(--base-500);
    transition: width .5s, height .5s;
}
