.projects {
    scroll-snap-align: center;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--base-400);
    border-top: 1px solid var(--base-500);
}

.projects-container {
    position: relative;
    gap: 2rem 1rem;
    padding: 5rem 1rem;
    transition: padding 1s, translate .5s ease;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    margin: auto;
}

.projects-container::-webkit-scrollbar {
    display: none;
}

.project__items {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.project__items--tech {
    margin-top: auto;
    padding-top: 2rem;
}

@media only screen and (max-device-width: 1400px) {

    .projects-container {
        grid-template-columns: 350px 350px;
    }

}

@media only screen and (max-device-width: 1000px) {

    .projects-container {
        grid-template-columns: 1fr;
    }

}