.about {
    scroll-snap-align: center;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    width: var(--width);
    margin: auto;
    gap: 5rem;
    padding: 5rem 0;
}

.about__portrait {
    align-self: flex-start;
    max-height: 15rem;
    max-width: 15rem;
    margin-top: 8.5rem;
    border: 1rem solid transparent;
    outline: 1px solid var(--base-600);
}

.techstack {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 1.5rem);
    grid-auto-flow: column;
    gap: .5rem;
    margin: .5rem 2rem;
}

.tech {
    display: flex;
    gap: .5rem;
    max-height: 1.5rem;
}

.about__header-text {
    font-family: 'Consola';
    font-size: 3.5rem;
}

.about__header-pointer {
    margin-left: auto;
    width: .75rem;
    height: 4rem;
    background-color: var(--accent-700);
    animation: waiting 1s .25s infinite;
}

@media only screen and (max-device-width: 900px) {

    .about {
        flex-direction: column;
    }

    .about__header-text {
        font-size: 2.25rem;
    }

    .about__header-pointer {
        height: 2.25rem;
    }

}