
.footer {
    display: flex;
    justify-content: space-between;
    padding: 5rem calc((100vw - var(--width)) / 2);
    background-color: var(--base-500);
    color: var(--base-700);
    font-size: .8rem;
}

@media only screen and (max-device-width: 850px) {
    .footer__content {
        flex-direction: column;
        justify-content: space-around;
    }
}