.footer-wrapper {
    height: 15rem;
    background: var(--color-150);
}

.footer {
    scroll-snap-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--global-width);
    height: 100%;
    margin: 0 auto;
    color: var(--color-500);
}