.footer {
    height: 15rem;
    background: var(--color-150);
}

.footer__content {
    text-align: center;
    scroll-snap-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--global-width);
    height: 100%;
    margin: 0 auto;
    color: var(--color-500);
}

@media only screen and (max-device-width: 850px) {
    .footer__content {
        font-size: .8rem;
        flex-direction: column;
        justify-content: space-around;
    }
}