.navbar {
    position: absolute;
  }
  
.searchbar {
    position: fixed;
    z-index: 3;
    opacity: 0;
    display: flex;
    flex-direction: column;
    top: 1rem;
    left: calc((100vw - var(--width)) / 2);
    height: max-content;
    gap: .5rem;
    font-family: 'Consola';
    font-weight: 300;
    width: var(--width);
    color: var(--base-600);
    background-color: var(--base-800);
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: 0 .5rem 1rem var(--shadow-500);
    transition: opacity .5s;
}
  
.theme {
    top: 1rem;
    right: 1rem;
    position: fixed;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    color: var(--base-300);
    background-color: var(--base-800);
    box-shadow: 0 .5rem 1rem var(--shadow-500);
}
  
.brand {
    padding: 1rem;
    position: fixed;
    z-index: 3;
    height: 3rem;
    width: 3rem;
}
  
.brand img {
    height: 3rem;
}

.searchbar a:hover {
    cursor: pointer;
    background-color: var(--base-400);
    color: var(--base-800);
}

/* Phones */
@media only screen and (max-device-width: 900px) {
  
    .searchbar {
      top: auto;
      bottom: 1rem;
      flex-direction: column-reverse;
    }
  
  }