.navbar {
    position: absolute;
  }
  
.searchbar {
    position: fixed;
    z-index: 3;
    opacity: 0;
    display: flex;
    flex-direction: column-reverse;
    bottom: 1rem;
    left: 1rem;
    height: max-content;
    font-family: 'Consola';
    font-weight: 300;
    color: var(--base-600);
    background-color: var(--base-800);
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: 0 .5rem 1rem var(--shadow-500);
    transition: opacity .5s;
}

.options {
    overflow: hidden;
    height: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    transition: height .5s;
}

.options--active {
    height: 6rem;
}
  
.theme {
    top: 1rem;
    right: 1rem;
    position: fixed;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    color: var(--base-300);
    background-color: var(--base-800);
    box-shadow: 0 .5rem 1rem var(--shadow-500);
}
  
.brand {
    padding: 1rem;
    position: fixed;
    z-index: 3;
    height: 3rem;
    width: 3rem;
}
  
.brand img {
    height: 3rem;
}

.searchbar a:hover {
    cursor: pointer;
    background-color: var(--base-400);
    color: var(--base-800);
}