.navbar {
    position: absolute;
  }
  
.searchbar {
    position: fixed;
    z-index: 3;
    opacity: 1;
    display: flex;
    flex-direction: column;
    top: 1rem;
    left: calc((100vw - var(--global-width)) / 2);
    height: max-content;
    gap: .5rem;
    font-family: 'Consola';
    font-weight: 300;
    width: var(--global-width);
    color: var(--color-200);
    background-color: var(--color-1000);
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: 0 .5rem 1rem var(--color-shadow);
    transition: opacity .5s;
}
  
.theme-toggle {
    top: 1rem;
    right: 1rem;
    position: fixed;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    box-shadow: 0 .5rem 1rem var(--color-shadow);
}
  
.theme--dark {
    color: var(--color-1000);
    background-color: var(--color-000);
}
  
.theme--light {
    color: var(--color-000);
    background-color: var(--color-1000);
}
  
.brand {
    padding: 1rem;
    position: fixed;
    z-index: 3;
    height: 3rem;
    width: 3rem;
}
  
.brand img {
    height: 3rem;
}

.searchbar a:hover {
    cursor: pointer;
    background-color: var(--color-100);
    color: var(--color-1000);
}