.projects {
    display: flex;
    position: relative;
    margin: 0 auto;
    width: var(--width);
    height: max-content;
    gap: 4rem;
}

.projects img {
    border-radius: .25rem;
}

.projects__panel {
    scroll-snap-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 20rem;
}

.project-card {
    padding: 1rem;
    width: 6rem;
    border-radius: .5rem;
    outline: 1px solid transparent;
    transition: all .25s;
}

.project-card--active {
    background: var(--base-300);
    outline: 1px solid var(--shadow-500);
    box-shadow: 0 .5rem 1rem var(--shadow-500);
}

.project-card:hover {
    cursor: pointer;
    outline: 1px solid var(--shadow-500);
}

.project-card img {
    max-width: 4rem;
}

.default-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 5rem;
    border: 1px solid var(--shadow-500);
    border-radius: .5rem;
}

.default-project__text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.blog {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: calc(var(--width) - 10rem);
    height: 100%;
}

.blog__hero {
    max-width: 100%;
    border-radius: .5rem;
}

.blog__header {
    display: flex;
    border-radius: .5rem;
    justify-content: space-between;
    margin-bottom: 1rem;
    color: var(--base-700);
}

.blog__display {
    display: flex;
    gap: 1rem;
}

.blog__tools {
    height: 1.5em;
}

.blog__table {
    border-collapse: collapse;
}

@media only screen and (max-device-width: 900px) {

    .projects {
        flex-direction:  column;
    }

    .projects__panel {
        flex-direction: row;
        justify-content: center;
        height: max-content;
    }

    .blog {
        width: var(--width);
    }
    
}

@media only screen and (max-device-width: 570px) {

    .blog__display {
        flex-direction: column;
    }

}