* {
  --width: 50rem;
  box-sizing: border-box; 
  --transparent-400: #f5f7f93a;
  --base-300: #ffffff;
  --base-400 : #f5f7f9;
  --base-500 : #edf0f3;
  --base-600 : #c6d0d8;
  --base-700 : #6f7a86;
  --base-800 : #221f2b;
  --accent-300 : #d7d8e6;
  --accent-400 : #a0a2f8;
  --accent-500 : #404eed;
  --accent-600 : #5152a7;
  --accent-700 : #3c3d6b;
  --shadow-500 : rgba(42, 41, 124, .15);
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

textarea {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--accent-500);
}

b {
  color: var(--accent-600);
  font-weight: 600;
}

ol, ul {
  margin: 0;
}

p, h1, h2, h3, h4, h5 {
  margin: 0;
}

body {
  margin: 0;
  color: var(--accent-700);
  background-color: var(--base-300);
  font-family: -apple-system,BlinkMacSystemFont,
  "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji",
  "Segoe UI Emoji";
} 

.app {
  position: relative;
  display: flex;
  flex-direction: column;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--base-600);
}

.console__text {
  color: var(--base-400);
  font-weight: 500;
}

.waiting-pointer {
  margin: auto auto 0 0;
  width: .6rem;
  height: .25rem;
  background-color: var(--base-400);
  animation-name: waiting;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.icon-button {
  transition: transform .25s, color .25s;
}

.icon-button:hover {
  transform: scale(1.25, 1.25);
  color: var(--accent-500);
}


@font-face {
  font-family: 'Consola';
  src: url('./fonts/Consola.ttf');
}

@keyframes scroll-down {
  0% {opacity: 0;}
  50% {transform: translate(0, 3rem); opacity: 1;}
  75% {transform: translate(0, 3rem); opacity: 0;}
  100% {opacity: 0;}
}

@keyframes waiting{
  0% {opacity: 0;}
  49% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 1;}
}

@keyframes fade-in {
  0% {opacity: 0; transform: translate(0, 8rem);}
  100% {opacity: 1;}
}

/* Phones */
@media only screen and (max-device-width: 900px) {

  * {
    --width: calc(100vw - 2rem);
  }

}