.flex {
    display: flex;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .center-items {
    align-items: center;
  }
  
  .center-content {
    justify-content: center;
  }
  
  .gap-sm {
    gap: .5rem;
  }
  
  .gap {
    gap: 1rem;
  }
  
  .gap-md {
    gap: 2rem;
  }
  
  .relative {
    position: relative;
  }
  
  .absolute {
    position: absolute;
  }
  
  .disabled {
    display: none;
  }

  .interactable:hover {
    cursor: pointer;
  }
  